<nav class="nav">
  <div class="container">
    <div class="logo">
      <a href="https://scorecarts.com/"><img src="./../../assets/images/White _SCROCARTS_ LOGO.png" alt=""
          style="width: 200px;" /></a>
          <h1 class="customise-color">Welcome to scorecarts...</h1>
    </div>
    <div id="mainListDiv" class="main_list">
      <i class="fa fa-sign-out customise-color" (click)="logout()" aria-hidden="true">Logout</i>
    </div>
  </div>
</nav>
<section class="home">
    
</section>
